pkgbase = auriscope-git
	pkgdesc = Audio player and analyser: waveform, spectrogram, spectrum, loudness (git)
	pkgver = r0.0000000
	pkgrel = 1
	url = https://github.com/frdcmp/auriscope
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	license = OFL-1.1
	makedepends = cargo
	makedepends = git
	depends = alsa-lib
	depends = libxkbcommon
	depends = wayland
	depends = gtk3
	depends = gcc-libs
	depends = glibc
	optdepends = vulkan-driver: GPU rendering through wgpu
	provides = auriscope
	conflicts = auriscope
	source = auriscope::git+https://github.com/frdcmp/auriscope.git
	sha256sums = SKIP

pkgname = auriscope-git
